{# This Page Shows the Individual Blog Posts#}

{% extends "base.html" %}

{%- block seo %}
  {{- super() }}
  {%- set title_addition = "" %}
  {%- if page.title and config.title %}
    {%- set title = page.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- elif page.title %}
    {%- set title = page.title %}
  {%- else %}
    {%- set title = config.title %}
  {%- endif %}

  {%- if page.description %}
    {%- set description = page.description %}
  {%- else %}
    {%- set description = config.description %}
  {%- endif %}
  {%- set created_time = page.date %}
  {%- set updated_time = page.updated %}
  {%- if current_section %}
    {%- set page_section = current_section %}
  {%- else %}
    {%- set page_section = "" %}
  {%- endif %}

  {{- macros_head::seo(config=config, title=title, title_addition=title_addition, description=description, type="article", is_page=true, created_time=created_time, updated_time=updated_time, page_section=page_section) }}
{%- endblock seo %}

{%- block content %}
    <article>
    {{- macros::title_post(page=page, config=config) }}

    {%- if config.extra.meta_post.position %}
    {%- if config.extra.meta_post.position == "top" or config.extra.meta_post.position == "both" %}
    {{- macros::meta_post(page=page, config=config) }}
    {%- endif %}{%- endif %}

    {{ page.content | safe }}

    {%- if config.extra.meta_post.position %}
    {%- if config.extra.meta_post.position == "bottom" or config.extra.meta_post.position == "both" %}
    {{- macros::meta_post(page=page, config=config) }}
    {%- endif %}{%- endif %}

    {%- block page_footer %}
    {{- macros::footer(page=page) }}
    {%- endblock page_footer %}

		{%- block comments_body %}
		{%- if config.extra.comments.hyvor %}
		<hyvor-talk-comments website-id={{ config.extra.comments.hyvor }} page-id={{ page.slug }} colors="os"></hyvor-talk-comments>
		{%- endif %}
		{%- endblock comments_body %}
    </article>
    {%- block toc %}
    {%- if page.extra.toc and config.extra.recent %}
    {%- set toc = page.toc %}
    {%- endif %}
    {%- if toc %}
    <div class="toc" aria-hidden="true">
      <div class="toc-sticky">
        <h3>Index</h3>
        {%- for h in toc %}
        <div class="toc-item">
          <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
        </div>
        {%- if h.children %}
        {%- for h2 in h.children %}
        <div class="toc-item-child">
          <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
        </div>
        {%- endfor %}
        {%- endif %}
        {%- endfor %}
      </div>
    </div>
    {%- endif %}
    {%- endblock toc %}


{%- endblock content %}

{%- block gotop %}

{%- if page.reading_time %}
{%- if page.reading_time > 2 %}
<span class="topout">
<span class="topleft"> </span><a href="#" class="top" title="Back to Top">{%- if config.extra.icon_top %}<i class="{{ config.extra.icon_top }}"></i>{%- else %}&cuwed;{%- endif %}</a>
</span>
{%- endif %}
{%- endif %}

{%- endblock gotop %}
